<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="tasks">
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
  <script type="text/javascript" src="assets/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="assets/jquery.cookie.js"></script>
    <script type="text/javascript" src="assets/bootstrap.min.js"></script> 
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-cache/dist/angular-cache.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <title>Todo-App - Testaufgabe move:elevator</title>
</head>
<body ng-controller="TaskController as tc" class="container">

  <header>
    <h1 class="text-center">Todo-App</h1>
  </header>

  <button class="btn btn-primary" 
  data-target=".new-task-container" 
  data-toggle="collapse">Neue Aufgabe</button>

  <div class="new-task-container well collapse">
    <form role="form" name="createTaskForm" ng-submit="createTaskForm.$valid && tc.add()">
      <div class="form-group">
        <label for="title">Titel*:</label>
        <input id="title" type="text" class="form-control" ng-model="tc.new.title" required></input>
      </div>
      
      <div class="form-group">
        <label>Beschreibung / Inhalt:</label>
        <textarea class="form-control"  ng-model="tc.new.description"></textarea>
      </div>
      
      <div class="form-group">
        <label for="date">Fälligkeit:</label>
        <input id="date" type="date" class="form-control" ng-model="tc.new.maturity"></input>
      </div>
      
      <input type="submit" class="btn btn-success" value="Aufgabe erstellen"/>
      <button class="btn btn-danger" data-target=".new-task-container" data-toggle="collapse" ng-click="tc.resetNewForm()">Abbrechen</button>
    </form>
  </div>

  <div class="list-group-item" ng-repeat="task in tc.tasks">
    <p>Aufgabe vom {{task.date_of_creation | date: 'dd.MM. yyyy' }}</p>
    <h3>{{task.title}}</h3>
    <p ng-show="task.description"><b>{{task.description}}</b></p>
    <p ng-show="task.maturity">Fällig bis zum {{task.maturity | date: 'dd.MM. yyyy' }}</p>
    id: {{task.id}}

    <div class="edit-task-{{task.id}}-container well collapse">
      <form role="form" name="editTaskForm" ng-submit="editTaskForm.$valid && tc.update(task)">
        <div class="form-group">
          <label for="title">Titel*:</label>
          <input id="title" type="text" class="form-control" ng-model="tc.edit.title" required></input>
        </div>
        
        <div class="form-group">
          <label>Beschreibung / Inhalt:</label>
          <textarea class="form-control" ng-model="tc.edit.description"></textarea>
        </div>
        
        <div class="form-group">
          <label for="date">Fälligkeit:</label>
          <input id="date" type="date" class="form-control" ng-model="tc.edit.maturity"></input>
        </div>
        
        <input type="submit" class="btn btn-success" value="Aufgabe speichern" />
        <button class="btn btn-danger" data-target=".edit-task-{{task.id}}-container" data-toggle="collapse" ng-click="tc.resetEditForm()">Abbrechen</button>
      </form>
    </div>

    <button class="btn btn-link" data-target=".edit-task-{{task.id}}-container" data-toggle="collapse">bearbeiten</button>
    <button class="btn btn-link" ng-click="tc.delete(task.id)">löschen</button>
  </div>

  <footer>
    Benjamin Schäfer, 2016 
  </footer>
</body>
</html>